.max{
    background-color: white;
    border-radius: 10px;
    width: 30px;
    font-weight: bolder;
}

.input{
    display: inline-block;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    align-content: center;
    text-align: center;
}

.all-container{
    text-align: center;
    margin: 10px;
}

#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    padding: 30px;
}